@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-darkest: #120b1b;
  --color-darker: #1a1226;
  --color-dark: #2a2036;
  --color-pale-dark: #43365a;

  --color-deep-light: #685487;
  --color-light: #8d79b2;
  --color-lighter: #b8aad8;
  --color-lightest: #e4ddf6;

  --animate-loading: loading 2s linear infinite;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --primary: var(--color-white);
  --secondary: var(--color-deep-light);
  --color-border-muted: var(--color-secondary) !important;
  color: #000;
}

[data-theme="dark"] {
  --primary: var(--color-darkest);
  --secondary: var(--color-lighter);
  color: #fff;
  #nprogress .bar {
    background: var(--secondary);
  }
}

body {
  @apply bg-linear-to-r dark:from-dark dark:via-darker dark:to-darkest from-lightest to-lighter dark:text-white;
}

input, textarea, select {
  @apply border border-secondary rounded-md p-2 dark:bg-dark bg-lightest;
}

input:focus, select:focus, textarea:focus {
  @apply border-[1.5px] outline-none;
}

input:disabled,
textarea:disabled,
select:disabled {
  @apply opacity-60 cursor-not-allowed;
}

button:hover {
  @apply cursor-pointer;
}

button:disabled {
  @apply cursor-not-allowed;
}

.adminBtn {
  @apply border-t border-secondary bg-linear-to-tr dark:from-pale-dark from-lightest dark:from-5% dark:via-dark dark:via-40% dark:to-darker to-lighter px-5 py-2 w-full flex justify-center gap-1;
}

.nav-link {
  @apply relative;
}

.nav-link::after {
  content: "";
  @apply absolute bottom-0 left-1/2 h-0.5 w-0 -translate-x-1/2 bg-secondary transition-all duration-300 ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  @apply w-full;
}

.error-msg {
  @apply dark:text-red-600 text-red-800 text-sm mt-1;
}

/* Markdown Preview CSS */

.wmde-markdown hr {
  @apply box-content! border-none! h-0.5! mb-2! p-0! overflow-hidden! dark:bg-lightest! bg-dark!;
}

.wmde-markdown h1 {
  @apply dark:border-lightest! border-dark!
}

.wmde-markdown img {
  @apply w-1/4 h-auto;
}

.wmde-markdown.body-preview img {
  @apply w-[20%] h-auto;
}

.wmde-markdown pre:hover .copied:hover {
  @apply dark:bg-lighter! bg-deep-light!
}

/* Animations */

@keyframes loading {
  0% {
    width: 0%;
    margin-left: 0;
  }

  50% {
    width: 100%;
    margin-left: 0;
  }

  100% {
    width: 0%;
    margin-left: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}