@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-darkest: #1c1225;
  --color-darker: #130a1c;
  --color-dark: #261d2e;
  --color-pale-dark: #473b52;

  --color-deep-light: #62229d;
  --color-light: #783dae;
  --color-lighter: #b283dd;
  --color-lightest: #d3b4f0;

  --animate-loading: loading 2s linear infinite;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --primary: var(--color-white);
  --secondary: var(--color-deep-light);
  color: #000;
}

[data-theme="dark"] {
  --primary: var(--color-darkest);
  --secondary: var(--color-lighter);
  color: #fff;
}

body {
  @apply bg-linear-to-r dark:from-dark dark:via-darker dark:to-darkest from-lightest to-lighter dark:text-white;
}

.body h1 {
  @apply text-2xl;
}

.body p {
  @apply mb-3;
}

.body img {
  @apply w-1/4 h-auto;
}

.body-preview img {
  @apply w-[20%] h-auto;
}

input {
  @apply border border-secondary rounded-md p-2 dark:bg-dark bg-lightest;
}

input:focus {
  @apply border-[1.5px] dark:border-light border-darkest outline-none;
}

button:hover {
  @apply cursor-pointer;
}

.adminBtn {
  @apply border-t border-secondary bg-linear-to-tr dark:from-pale-dark from-lightest dark:from-5% dark:via-dark dark:via-40% dark:to-darker to-lighter px-5 py-2 w-full flex justify-center gap-1;
}

select:focus {
  @apply border-none outline-none;
}

@keyframes loading {
  0% {
    width: 0%;
    margin-left: 0;
  }

  50% {
    width: 100%;
    margin-left: 0;
  }

  100% {
    width: 0%;
    margin-left: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
